
.App {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
body {
  background-color: #282c34;
}
div {
  white-space: nowrap;
}

#bgvid {
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
  width: 100%;
  height: 100%;
  z-index: -5;
  filter: blur(10px);
}


.transText {
  margin-top: 40px;
  width: 100px !important;
}

